.services-list {
	list-style: none;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	max-width: 85rem;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background: linear-gradient(rgba(249, 114, 81, 1), rgba(255, 152, 108, 1));
}